<!-- Unified Dynamic Script: contains analytics, experiment, session replay & auto-capture -->
<script src="https://cdn.amplitude.com/script/e7d181e4593e9f96.js"></script>
<script type="text/javascript">
    // Custom configuration for the analytics SDK to opt-out by default and
    // use local storage instead of cookies for identity.
    window.amplitude.init('c1817405c2f578878637c55704d4a153', {
        defaultEventTracking: true,
        identityStorage: 'localStorage',
        optOut: true,
    });
    // We need to manually add the auto capture plugin if we manually init the
    // analytics SDK. Session replay will be added automatically by default.
    window.amplitude.add(window.amplitudeAutocapturePlugin.plugin());
</script>
<script type="text/javascript">
var consent = __md_get("__consent")
if (consent) {
    // The user accepted the cookie.
    // Only opt-in if running in prod.
    const hostname = window.location.hostname;
    if (hostname === 'docs.developers.amplitude.com' || hostname === 'www.docs.developers.amplitude.com') {
        window.amplitude.setOptOut(false);
    }

    function checkAuthenticatedUser() {
        try {
            const AMP_PREFIX = 'AMP_';
            const currUserId = amplitude.getUserId();
            if (!currUserId) {
                // Iterate through all amplitude cookies within amplitude domain
                const amplitudeCookies = getCookies(AMP_PREFIX);

                for (let [cookieName, cookieValue] of amplitudeCookies.map((cookies) => cookies.split('='))) {
                    const [deviceId, userId] = cookieValue.split('.');

                    try {
                        const userSession = JSON.parse(decodeURIComponent(atob(cookieValue)))
                        if (userSession && userSession.userId) {
                            amplitude.setUserId(userSession.userId);
                            break;
                        }
                    } catch {}
                }
            }
        } catch (e) {
            console.error(e);
        }
    }

    function getCookies(prefix) {
        try {
            const cookieArray = document.cookie.split(';').map((c) => c.trimStart());
            let values = [];
            for (let cookie of cookieArray) {
                while (cookie.charAt(0) === ' ') {
                    cookie = cookie.substring(1);
                }
                if (cookie.startsWith(prefix)) {
                    values.push(cookie.substring(name.length));
                }
            }

            return values;
        } catch (e) {
            return [];
        }
    }

    function trackWithPageContext(event, url) {
        let paths = [];
        for (const seg of url.pathname.split('/')) {
            if (seg.length > 0) {
                paths.push(seg);
            }
        }
        let properties = {
            url: window.location.href,
            path: url.pathname,
        };
        if (paths.length > 0) {
            properties.product = paths[0];
            properties.page = paths[paths.length-1];
        }
        if (url.hash) {
            properties.anchor = url.hash;
        }
        // HACK: figure out better environment switching
        if (url.hostname === 'docs.developers.amplitude.com' || url.hostname === 'www.docs.developers.amplitude.com') {
            amplitude.track(event, properties);
        }
    }

    /* Wait for page to load and application to mount */
    document.addEventListener("DOMContentLoaded", function() {
        // Subscribe to navigation changes
        location$.subscribe(function(url) {
            checkAuthenticatedUser();
            trackWithPageContext("page viewed", url);
        });
    });
}
</script>
